require(quantreg)
importFrom(splines, bs)
importFrom(gtools, quantcut)
importFrom(plyr, rbind.fill)
import(grid)
import(data.table)

export(
    studentGrowthPercentiles,
    studentGrowthProjections
)
